# ============================
# C++ & Qt & CMake ignore
# ============================

# 编译输出
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# CMake/Qt 生成目录和文件
build/
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
*.user
*.qmake.stash
*.qtvscr
*.vcxproj
*.vcxproj.filters
*.bat
tmp

# QXlsx 整个目录（不上传）
.vs/
release/
debug/
lib/
toZip/
include/